# Build output
.build/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Xcode
*.xcodeproj
*.xcworkspace
*.pbxproj
xcuserdata/
*.moved-aside
*.xccheckout
*.xcscmblueprint
DerivedData/

# Swift Package Manager
.swiftpm/
Package.resolved

# Editor
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
